<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,685}</string>
                <key>spriteSourceSize</key>
                <string>{900,685}</string>
                <key>textureRect</key>
                <string>{{2,2},{900,685}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{1532,344},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_ko.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-197}</string>
                <key>spriteSize</key>
                <string>{226,80}</string>
                <key>spriteSourceSize</key>
                <string>{700,600}</string>
                <key>textureRect</key>
                <string>{{1532,2},{226,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_ko_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-197}</string>
                <key>spriteSize</key>
                <string>{216,70}</string>
                <key>spriteSourceSize</key>
                <string>{700,600}</string>
                <key>textureRect</key>
                <string>{{1532,86},{216,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_light_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,66}</string>
                <key>spriteSize</key>
                <string>{622,399}</string>
                <key>spriteSourceSize</key>
                <string>{900,685}</string>
                <key>textureRect</key>
                <string>{{906,2},{622,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_light_mask_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{1588,344},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_mask_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-87}</string>
                <key>spriteSize</key>
                <string>{678,357}</string>
                <key>spriteSourceSize</key>
                <string>{900,685}</string>
                <key>textureRect</key>
                <string>{{906,405},{678,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_rays_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1532,160},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Logo.png</string>
            <key>size</key>
            <string>{1760,764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69e50a0bfbf10c6f130fdc4ca034ef24:25a18f279ebef4e84de594e456fe81f7:420e5ec511ee06e3801cf702beec8177$</string>
            <key>textureFileName</key>
            <string>Logo.png</string>
        </dict>
    </dict>
</plist>
