<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo_bubble_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{858,817},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,17}</string>
                <key>spriteSize</key>
                <string>{866,627}</string>
                <key>spriteSourceSize</key>
                <string>{900,685}</string>
                <key>textureRect</key>
                <string>{{2,2},{866,627}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_ko_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-197}</string>
                <key>spriteSize</key>
                <string>{226,80}</string>
                <key>spriteSourceSize</key>
                <string>{700,600}</string>
                <key>textureRect</key>
                <string>{{628,994},{226,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_ko_mask_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-197}</string>
                <key>spriteSize</key>
                <string>{216,70}</string>
                <key>spriteSourceSize</key>
                <string>{700,600}</string>
                <key>textureRect</key>
                <string>{{628,1078},{216,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_light_06_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,66}</string>
                <key>spriteSize</key>
                <string>{622,399}</string>
                <key>spriteSourceSize</key>
                <string>{900,685}</string>
                <key>textureRect</key>
                <string>{{2,994},{622,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_light_mask_03_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{684,831},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_mask_03_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-87}</string>
                <key>spriteSize</key>
                <string>{678,357}</string>
                <key>spriteSourceSize</key>
                <string>{900,685}</string>
                <key>textureRect</key>
                <string>{{2,633},{678,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_rays_04_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{684,633},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Logo_Christmas.png</string>
            <key>size</key>
            <string>{870,1395}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54e166298e64e68a019945389dbb88b1:97d3d63b3d3cddfce1a70e92036f518e:860610822e25c0501f3285d855854417$</string>
            <key>textureFileName</key>
            <string>Logo_Christmas.png</string>
        </dict>
    </dict>
</plist>
