<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animap_boat_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,258}</string>
                <key>spriteSourceSize</key>
                <string>{410,282}</string>
                <key>textureRect</key>
                <string>{{2,196},{386,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animap_boat_1_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{410,246}</string>
                <key>spriteSourceSize</key>
                <string>{410,282}</string>
                <key>textureRect</key>
                <string>{{392,244},{410,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animap_boat_1_ripple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-31}</string>
                <key>spriteSize</key>
                <string>{420,190}</string>
                <key>spriteSourceSize</key>
                <string>{510,382}</string>
                <key>textureRect</key>
                <string>{{2,2},{420,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animap_boat_1_rope.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,238}</string>
                <key>spriteSourceSize</key>
                <string>{165,238}</string>
                <key>textureRect</key>
                <string>{{426,2},{165,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animap_bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{613,52},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_animap_raindrop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,37}</string>
                <key>spriteSourceSize</key>
                <string>{26,37}</string>
                <key>textureRect</key>
                <string>{{392,196},{26,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_animap_sakura_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{595,2},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_animap_snow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{595,34},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_animap_snow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{613,34},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_animap_snow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{627,2},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_animap_snow_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{595,52},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Animap.png</string>
            <key>size</key>
            <string>{804,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:910e8e8bec6d2d6bcb456e650d9966bf:e412c3861328a118acaece42ce3f1334:06f7aa666abe81a09a471389190f4faa$</string>
            <key>textureFileName</key>
            <string>Animap.png</string>
        </dict>
    </dict>
</plist>
