<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dr_bunny_sad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{112,172}</string>
                <key>spriteSourceSize</key>
                <string>{120,180}</string>
                <key>textureRect</key>
                <string>{{1505,1},{112,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dr_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,376}</string>
                <key>spriteSourceSize</key>
                <string>{658,376}</string>
                <key>textureRect</key>
                <string>{{1,378},{658,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dr_jelly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,375}</string>
                <key>spriteSourceSize</key>
                <string>{1024,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dr_lollipop_candy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,141}</string>
                <key>spriteSourceSize</key>
                <string>{102,141}</string>
                <key>textureRect</key>
                <string>{{1536,607},{102,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dr_lollipop_stick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,17}</string>
                <key>spriteSourceSize</key>
                <string>{13,17}</string>
                <key>textureRect</key>
                <string>{{1027,308},{13,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dr_mountains_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,476}</string>
                <key>spriteSourceSize</key>
                <string>{305,476}</string>
                <key>textureRect</key>
                <string>{{1027,1},{305,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dr_mountains_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,103}</string>
                <key>spriteSourceSize</key>
                <string>{430,103}</string>
                <key>textureRect</key>
                <string>{{1536,175},{430,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dr_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{873,359}</string>
                <key>spriteSourceSize</key>
                <string>{873,359}</string>
                <key>textureRect</key>
                <string>{{661,378},{873,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DailyReward.png</string>
            <key>size</key>
            <string>{1640,755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3bd712ec57f25cadf5b54e3a7869d13:cb8101e053a2183a4dfa2411334abcef:b4f6e70a72f07f0a2c0ce1fba72e9d77$</string>
            <key>textureFileName</key>
            <string>DailyReward.png</string>
        </dict>
    </dict>
</plist>
