<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_blast.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fx_bunny_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,458},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>fx_candy_shard_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,302},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fx_candy_shard_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,302},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fx_candy_shard_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,350},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fx_candy_shard_big_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,350},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fx_candy_shard_big_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,365},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fx_candy_shard_big_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,413},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fx_candy_shard_big_jelly.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fx_candy_shard_big_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,302},{63,61}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{63,61}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>fx_firefly.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,432},{22,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>fx_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,432},{21,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>fx_juice_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,458},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>fx_liquorice_shard_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,398},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fx_pudding_shard_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,398},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>fx_ring_glob.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,298}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{298,298}}</string>
                <key>sourceSize</key>
                <string>{330,330}</string>
            </dict>
            <key>mq_juice_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,456},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>spark.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,432},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Global_Fxs.png</string>
            <key>size</key>
            <string>{302,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:055728afa76be69007af574cc9e9e344:df3996a7965eb599a5c171ac03f70a5d:be358b33250234a63a1255b5adbda351$</string>
            <key>textureFileName</key>
            <string>Global_Fxs.png</string>
        </dict>
    </dict>
</plist>
