<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_icon_quit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{67,69}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{914,1127},{67,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_hill_candy1_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,114}</string>
                <key>spriteSourceSize</key>
                <string>{118,114}</string>
                <key>textureRect</key>
                <string>{{860,1517},{118,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_hill_candy2_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,137}</string>
                <key>spriteSourceSize</key>
                <string>{126,137}</string>
                <key>textureRect</key>
                <string>{{860,1376},{126,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_hill_candy3_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,83}</string>
                <key>spriteSourceSize</key>
                <string>{100,83}</string>
                <key>textureRect</key>
                <string>{{914,980},{100,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_hill_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{671,173}</string>
                <key>spriteSourceSize</key>
                <string>{671,173}</string>
                <key>textureRect</key>
                <string>{{2,1773},{671,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_hill_tree_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{408,376}</string>
                <key>spriteSourceSize</key>
                <string>{410,376}</string>
                <key>textureRect</key>
                <string>{{448,1376},{408,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_hills_candy1_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,39}</string>
                <key>spriteSourceSize</key>
                <string>{47,39}</string>
                <key>textureRect</key>
                <string>{{914,1325},{47,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_hills_candy2_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,62}</string>
                <key>spriteSourceSize</key>
                <string>{57,62}</string>
                <key>textureRect</key>
                <string>{{914,1200},{57,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_hills_candy3_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,37}</string>
                <key>spriteSourceSize</key>
                <string>{35,37}</string>
                <key>textureRect</key>
                <string>{{985,1127},{35,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_hills_candy4_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{914,1266},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_hills_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{1018,298}</string>
                <key>spriteSourceSize</key>
                <string>{1018,318}</string>
                <key>textureRect</key>
                <string>{{2,2},{1018,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_hills_river_bubble2_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{1004,343},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_hills_river_bubble3_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{1004,304},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_hills_river_bubble_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{1004,324},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_hills_trees_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,126}</string>
                <key>spriteSourceSize</key>
                <string>{246,126}</string>
                <key>textureRect</key>
                <string>{{677,1756},{246,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_mount1_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{442,393}</string>
                <key>spriteSourceSize</key>
                <string>{442,405}</string>
                <key>textureRect</key>
                <string>{{2,1376},{442,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_volcano_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{998,672}</string>
                <key>spriteSourceSize</key>
                <string>{1018,698}</string>
                <key>textureRect</key>
                <string>{{2,304},{998,672}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_volcano_cloud1_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{84,56}</string>
                <key>spriteSourceSize</key>
                <string>{92,66}</string>
                <key>textureRect</key>
                <string>{{914,1067},{84,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_volcano_cloud2_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{189,106}</string>
                <key>spriteSourceSize</key>
                <string>{213,130}</string>
                <key>textureRect</key>
                <string>{{677,1886},{189,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home_volcano_smoke_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{908,392}</string>
                <key>spriteSourceSize</key>
                <string>{922,392}</string>
                <key>textureRect</key>
                <string>{{2,980},{908,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Home_Christmas.png</string>
            <key>size</key>
            <string>{1022,1994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25a1497fccbd6d10cd71e0eb9254eaf3:e8245d3e050037fab131e6b0e14739c1:b738e95d62d29f8bc522f59f3a2761f3$</string>
            <key>textureFileName</key>
            <string>Home_Christmas.png</string>
        </dict>
    </dict>
</plist>
