<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MG_header_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,236}</string>
                <key>spriteSourceSize</key>
                <string>{2,236}</string>
                <key>textureRect</key>
                <string>{{1980,1},{2,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_fb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,132}</string>
                <key>spriteSourceSize</key>
                <string>{133,132}</string>
                <key>textureRect</key>
                <string>{{1810,1754},{133,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>container_game_stars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,105}</string>
                <key>spriteSourceSize</key>
                <string>{203,105}</string>
                <key>textureRect</key>
                <string>{{1929,980},{203,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>container_jolly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,143}</string>
                <key>spriteSourceSize</key>
                <string>{143,143}</string>
                <key>textureRect</key>
                <string>{{361,1733},{143,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>container_jolly_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,143}</string>
                <key>spriteSourceSize</key>
                <string>{143,143}</string>
                <key>textureRect</key>
                <string>{{508,1733},{143,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>container_jolly_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,143}</string>
                <key>spriteSourceSize</key>
                <string>{143,143}</string>
                <key>textureRect</key>
                <string>{{655,1695},{143,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>container_jolly_selected_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,143}</string>
                <key>spriteSourceSize</key>
                <string>{143,143}</string>
                <key>textureRect</key>
                <string>{{802,1695},{143,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>container_jolly_timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,46}</string>
                <key>spriteSourceSize</key>
                <string>{124,46}</string>
                <key>textureRect</key>
                <string>{{1986,1},{124,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>container_number_jolly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{665,259},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>container_number_jolly_endless.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{949,1780},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>container_score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,160}</string>
                <key>spriteSourceSize</key>
                <string>{356,160}</string>
                <key>textureRect</key>
                <string>{{1,1732},{356,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>container_stars_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,126}</string>
                <key>spriteSourceSize</key>
                <string>{694,126}</string>
                <key>textureRect</key>
                <string>{{550,826},{694,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>container_stars_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{657,121}</string>
                <key>spriteSourceSize</key>
                <string>{657,121}</string>
                <key>textureRect</key>
                <string>{{1231,855},{657,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,48}</string>
                <key>spriteSourceSize</key>
                <string>{58,48}</string>
                <key>textureRect</key>
                <string>{{1947,1839},{58,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_endless.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{42,27}</string>
                <key>textureRect</key>
                <string>{{257,826},{42,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_goal_blueberry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{135,147}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1659,1725},{135,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_goal_bunny.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{177,205}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1748,980},{177,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_goal_cake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-40}</string>
                <key>spriteSize</key>
                <string>{203,129}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1722,1189},{203,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_goal_candies.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-26}</string>
                <key>spriteSize</key>
                <string>{181,151}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1839,700},{181,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_goal_candle_cake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,203}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1378,1312},{173,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_goal_caramel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-23}</string>
                <key>spriteSize</key>
                <string>{189,133}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1529,1175},{189,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_goal_choco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-34}</string>
                <key>spriteSize</key>
                <string>{181,127}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{458,1548},{181,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_goal_fruit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-26}</string>
                <key>spriteSize</key>
                <string>{207,135}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1700,1322},{207,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_goal_gums.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-44}</string>
                <key>spriteSize</key>
                <string>{183,115}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1378,1718},{183,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_goal_ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{169,151}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{303,1556},{169,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_goal_jelly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{189,163}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1876,507},{189,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_goal_juice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{153,165}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1876,350},{153,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_goal_liquorice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{173,141}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1700,1580},{173,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_goal_macarons.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-46}</string>
                <key>spriteSize</key>
                <string>{213,115}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1700,1461},{213,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_goal_megacake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{215,191}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1529,980},{215,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_goal_muffin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-29}</string>
                <key>spriteSize</key>
                <string>{201,141}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1555,1312},{201,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_goal_pudding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-24}</string>
                <key>spriteSize</key>
                <string>{169,145}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1551,1519},{169,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_goal_raspberry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{195,169}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1378,1519},{195,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_goal_score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{161,169}</string>
                <key>spriteSourceSize</key>
                <string>{215,211}</string>
                <key>textureRect</key>
                <string>{{1877,1581},{161,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jolly_locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,19}</string>
                <key>spriteSize</key>
                <string>{67,81}</string>
                <key>spriteSourceSize</key>
                <string>{143,143}</string>
                <key>textureRect</key>
                <string>{{949,1695},{67,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1430,324},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinny_pre_game_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{511,404}</string>
                <key>spriteSourceSize</key>
                <string>{563,404}</string>
                <key>textureRect</key>
                <string>{{665,324},{511,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinny_pre_game_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{563,404}</string>
                <key>spriteSourceSize</key>
                <string>{563,404}</string>
                <key>textureRect</key>
                <string>{{257,259},{563,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinny_sad_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,345}</string>
                <key>spriteSourceSize</key>
                <string>{503,345}</string>
                <key>textureRect</key>
                <string>{{1473,1},{503,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jinny_sad_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,345}</string>
                <key>spriteSourceSize</key>
                <string>{503,345}</string>
                <key>textureRect</key>
                <string>{{680,732},{503,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinny_win_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,345}</string>
                <key>spriteSourceSize</key>
                <string>{452,345}</string>
                <key>textureRect</key>
                <string>{{680,1239},{452,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jinny_win_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,345}</string>
                <key>spriteSourceSize</key>
                <string>{452,345}</string>
                <key>textureRect</key>
                <string>{{1029,1342},{452,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jolly_bees.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,81}</string>
                <key>spriteSourceSize</key>
                <string>{94,81}</string>
                <key>textureRect</key>
                <string>{{589,1524},{94,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jolly_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{78,81}</string>
                <key>spriteSourceSize</key>
                <string>{94,81}</string>
                <key>textureRect</key>
                <string>{{1565,1777},{78,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jolly_bonbon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,81}</string>
                <key>spriteSourceSize</key>
                <string>{94,81}</string>
                <key>textureRect</key>
                <string>{{1947,1754},{86,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jolly_hv.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,81}</string>
                <key>spriteSourceSize</key>
                <string>{94,81}</string>
                <key>textureRect</key>
                <string>{{1565,1692},{90,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_side_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1180,683},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_side_panel_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{1659,1692},{29,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panel_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{294,294}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{1231,980},{294,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel_footer_game_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{724,254}</string>
                <key>spriteSourceSize</key>
                <string>{724,254}</string>
                <key>textureRect</key>
                <string>{{1,1},{724,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel_footer_game_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{725,252}</string>
                <key>spriteSourceSize</key>
                <string>{725,252}</string>
                <key>textureRect</key>
                <string>{{1,259},{725,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panel_header_game_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,168}</string>
                <key>spriteSourceSize</key>
                <string>{740,168}</string>
                <key>textureRect</key>
                <string>{{729,1},{740,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel_header_game_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{726,129}</string>
                <key>spriteSourceSize</key>
                <string>{726,129}</string>
                <key>textureRect</key>
                <string>{{303,826},{726,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panel_header_game_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{718,110}</string>
                <key>spriteSourceSize</key>
                <string>{718,110}</string>
                <key>textureRect</key>
                <string>{{436,826},{718,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panel_header_standard_back_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,107}</string>
                <key>spriteSourceSize</key>
                <string>{692,107}</string>
                <key>textureRect</key>
                <string>{{1180,350},{692,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel_header_standard_back_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,107}</string>
                <key>spriteSourceSize</key>
                <string>{692,107}</string>
                <key>textureRect</key>
                <string>{{1180,461},{692,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel_header_standard_back_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,107}</string>
                <key>spriteSourceSize</key>
                <string>{692,107}</string>
                <key>textureRect</key>
                <string>{{1180,572},{692,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel_header_standard_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,147}</string>
                <key>spriteSourceSize</key>
                <string>{740,147}</string>
                <key>textureRect</key>
                <string>{{1,988},{740,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panel_header_standard_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,147}</string>
                <key>spriteSourceSize</key>
                <string>{740,147}</string>
                <key>textureRect</key>
                <string>{{152,988},{740,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panel_header_standard_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,147}</string>
                <key>spriteSourceSize</key>
                <string>{740,147}</string>
                <key>textureRect</key>
                <string>{{729,173},{740,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel_leaderboard_landscape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,30}</string>
                <key>spriteSourceSize</key>
                <string>{290,30}</string>
                <key>textureRect</key>
                <string>{{1231,1278},{290,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panel_leaderboard_portrait.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,246}</string>
                <key>spriteSourceSize</key>
                <string>{2,246}</string>
                <key>textureRect</key>
                <string>{{1180,324},{2,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panel_title_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,198}</string>
                <key>spriteSourceSize</key>
                <string>{606,198}</string>
                <key>textureRect</key>
                <string>{{1029,732},{606,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>panel_title_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,168}</string>
                <key>spriteSourceSize</key>
                <string>{604,168}</string>
                <key>textureRect</key>
                <string>{{1231,683},{604,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{589,1622},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,117}</string>
                <key>spriteSourceSize</key>
                <string>{121,117}</string>
                <key>textureRect</key>
                <string>{{1892,855},{121,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_off_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,117}</string>
                <key>spriteSourceSize</key>
                <string>{121,117}</string>
                <key>textureRect</key>
                <string>{{1917,1460},{121,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,109}</string>
                <key>spriteSourceSize</key>
                <string>{121,117}</string>
                <key>textureRect</key>
                <string>{{1929,1187},{113,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_on_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,130}</string>
                <key>spriteSourceSize</key>
                <string>{134,130}</string>
                <key>textureRect</key>
                <string>{{1911,1322},{134,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JellyPanels.png</string>
            <key>size</key>
            <string>{2042,1893}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e26303a49ded307622463ce3712093c:09a7524fcd4bac2250fc6f5198c3f94a:19d9028d1c8bb19f40d4eb7f8ea1ef59$</string>
            <key>textureFileName</key>
            <string>JellyPanels.png</string>
        </dict>
    </dict>
</plist>
