<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MG_button_footer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,320}</string>
                <key>spriteSourceSize</key>
                <string>{324,324}</string>
                <key>textureRect</key>
                <string>{{1,1},{318,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MG_icon_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{833,581},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_icon_quit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{67,69}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{950,959},{67,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_play_again_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,72}</string>
                <key>spriteSourceSize</key>
                <string>{77,72}</string>
                <key>textureRect</key>
                <string>{{913,581},{77,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_play_again_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,72}</string>
                <key>spriteSourceSize</key>
                <string>{77,72}</string>
                <key>textureRect</key>
                <string>{{871,959},{77,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{1,323},{268,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_black_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{321,1},{268,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{1,465},{268,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_blue_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{321,143},{268,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{591,1},{268,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_green_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{1,607},{268,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{591,143},{268,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_orange_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{861,1},{268,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_button_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{1,749},{268,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_pink_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{1,891},{268,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{271,323},{268,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_button_purple_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{271,593},{268,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_button_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{413,285},{268,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_red_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{413,427},{268,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_small_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{413,711},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_small_blue_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{271,863},{150,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_button_small_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{683,555},{150,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_button_small_green_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{421,861},{150,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_button_small_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{721,1011},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_small_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{565,711},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_small_orange_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{571,861},{150,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_button_small_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{825,285},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_small_pink_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{833,433},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_small_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{717,707},{150,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_button_small_purple_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{721,859},{150,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_button_small_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{867,663},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_small_red_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{871,811},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_button_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{683,285},{268,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_button_white_hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{268,140}</string>
                <key>spriteSourceSize</key>
                <string>{268,152}</string>
                <key>textureRect</key>
                <string>{{413,569},{268,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JellyButtons.png</string>
            <key>size</key>
            <string>{1018,1070}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c68d99434f1988bdc55e5f746ba7883:e4c70c981a6a6898e832490de5d76b29:93aba3890f0a7f27f7ae7fdabdf172eb$</string>
            <key>textureFileName</key>
            <string>JellyButtons.png</string>
        </dict>
    </dict>
</plist>
