<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MG_button_footer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,320}</string>
                <key>spriteSourceSize</key>
                <string>{324,324}</string>
                <key>textureRect</key>
                <string>{{1501,1},{318,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MG_ground_plant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{90,36}</string>
                <key>spriteSourceSize</key>
                <string>{90,38}</string>
                <key>textureRect</key>
                <string>{{127,887},{90,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MG_ground_seed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,38}</string>
                <key>spriteSourceSize</key>
                <string>{90,38}</string>
                <key>textureRect</key>
                <string>{{87,887},{90,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MG_header_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,236}</string>
                <key>spriteSourceSize</key>
                <string>{2,236}</string>
                <key>textureRect</key>
                <string>{{383,441},{2,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MG_icon_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{94,84}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{1,887},{94,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MG_icon_baloon_fertilizer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{83,89}</string>
                <key>spriteSourceSize</key>
                <string>{83,91}</string>
                <key>textureRect</key>
                <string>{{165,887},{83,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MG_icon_baloon_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{83,89}</string>
                <key>spriteSourceSize</key>
                <string>{83,91}</string>
                <key>textureRect</key>
                <string>{{250,887},{83,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MG_icon_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{335,887},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MG_icon_info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{620,873},{44,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MG_icon_plants.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{215,164}</string>
                <key>spriteSourceSize</key>
                <string>{269,268}</string>
                <key>textureRect</key>
                <string>{{773,835},{215,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MG_icon_seed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,16}</string>
                <key>spriteSize</key>
                <string>{181,180}</string>
                <key>spriteSourceSize</key>
                <string>{269,268}</string>
                <key>textureRect</key>
                <string>{{1182,807},{181,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MG_icon_stardust.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,25}</string>
                <key>spriteSize</key>
                <string>{163,190}</string>
                <key>spriteSourceSize</key>
                <string>{269,268}</string>
                <key>textureRect</key>
                <string>{{990,835},{163,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MG_icon_watering_can.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,6}</string>
                <key>spriteSize</key>
                <string>{207,198}</string>
                <key>spriteSourceSize</key>
                <string>{269,268}</string>
                <key>textureRect</key>
                <string>{{1493,795},{207,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MG_pot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,125}</string>
                <key>spriteSourceSize</key>
                <string>{203,125}</string>
                <key>textureRect</key>
                <string>{{415,873},{203,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seed_bee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,386}</string>
                <key>spriteSourceSize</key>
                <string>{448,448}</string>
                <key>textureRect</key>
                <string>{{1493,407},{374,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seed_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{394,418}</string>
                <key>spriteSourceSize</key>
                <string>{448,448}</string>
                <key>textureRect</key>
                <string>{{707,1},{394,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seed_bon_bon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{438,386}</string>
                <key>spriteSourceSize</key>
                <string>{448,448}</string>
                <key>textureRect</key>
                <string>{{1,447},{438,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seed_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,376}</string>
                <key>spriteSourceSize</key>
                <string>{448,448}</string>
                <key>textureRect</key>
                <string>{{1115,407},{398,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seed_hammer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,438}</string>
                <key>spriteSourceSize</key>
                <string>{448,448}</string>
                <key>textureRect</key>
                <string>{{383,1},{322,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seed_lives.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{444,380}</string>
                <key>spriteSourceSize</key>
                <string>{448,448}</string>
                <key>textureRect</key>
                <string>{{1,1},{444,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seed_magic_wand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,396}</string>
                <key>spriteSourceSize</key>
                <string>{448,448}</string>
                <key>textureRect</key>
                <string>{{1103,1},{404,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>seed_magnet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,426}</string>
                <key>spriteSourceSize</key>
                <string>{448,448}</string>
                <key>textureRect</key>
                <string>{{389,445},{382,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>seed_striped.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{340,412}</string>
                <key>spriteSourceSize</key>
                <string>{448,448}</string>
                <key>textureRect</key>
                <string>{{773,421},{340,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Magic_Garden.png</string>
            <key>size</key>
            <string>{1868,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:023c56eb5e8f0f146cc6a040074318c9:591fa051441119056eaa8b30a1ab005a:1016399111e3feb87b669e76a501b7dc$</string>
            <key>textureFileName</key>
            <string>Magic_Garden.png</string>
        </dict>
    </dict>
</plist>
