<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mushroom_event_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,183}}</string>
                <key>sourceSize</key>
                <string>{205,183}</string>
            </dict>
            <key>mushrooms_pannello.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{188,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,180}}</string>
                <key>sourceSize</key>
                <string>{188,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mushrooms_Event.png</string>
            <key>size</key>
            <string>{401,187}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1033bdef062a6aa7155da8831e35c7d2:250b784d7ae5c09edbc5cde66b25ebbc:3e3de4e9775ad6bbd14a253ada6d5959$</string>
            <key>textureFileName</key>
            <string>Mushrooms_Event.png</string>
        </dict>
    </dict>
</plist>
