<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Piggy_Base_Small_Icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{94,85}</string>
                <key>spriteSourceSize</key>
                <string>{94,87}</string>
                <key>textureRect</key>
                <string>{{88,1940},{94,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_container_piggy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{191,111}</string>
                <key>spriteSourceSize</key>
                <string>{193,113}</string>
                <key>textureRect</key>
                <string>{{483,1802},{191,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_piggy_progress_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{704,189},{40,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home_piggy_progress_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,34}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{638,231},{40,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_piggy_canvas_select_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{174,195}</string>
                <key>spriteSourceSize</key>
                <string>{174,213}</string>
                <key>textureRect</key>
                <string>{{636,1221},{174,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_balloon_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{93,73}</string>
                <key>spriteSourceSize</key>
                <string>{103,79}</string>
                <key>textureRect</key>
                <string>{{175,1940},{93,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>piggy_balloon_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{134,87}</string>
                <key>spriteSourceSize</key>
                <string>{146,95}</string>
                <key>textureRect</key>
                <string>{{323,1940},{134,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_balloon_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{93,71}</string>
                <key>spriteSourceSize</key>
                <string>{103,77}</string>
                <key>textureRect</key>
                <string>{{250,1940},{93,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>piggy_base_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{294,294}</string>
                <key>spriteSourceSize</key>
                <string>{384,384}</string>
                <key>textureRect</key>
                <string>{{323,763},{294,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_bunny_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,4}</string>
                <key>spriteSize</key>
                <string>{176,152}</string>
                <key>spriteSourceSize</key>
                <string>{204,190}</string>
                <key>textureRect</key>
                <string>{{636,915},{176,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_carpenter_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{172,148}</string>
                <key>spriteSourceSize</key>
                <string>{204,190}</string>
                <key>textureRect</key>
                <string>{{636,1860},{172,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_chef_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{176,150}</string>
                <key>spriteSourceSize</key>
                <string>{204,190}</string>
                <key>textureRect</key>
                <string>{{636,1069},{176,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_coin_progress_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{72,65}</string>
                <key>textureRect</key>
                <string>{{321,1059},{68,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>piggy_container_ball_pattern.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{280,1008},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_container_question_pattern.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{604,515},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_costume_bottom_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{459,1648},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_costume_progress_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,47}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{106,1008},{50,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_costume_progress_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{604,484},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_emperor_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{184,154}</string>
                <key>spriteSourceSize</key>
                <string>{204,190}</string>
                <key>textureRect</key>
                <string>{{638,270},{184,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_farmer_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{178,144}</string>
                <key>spriteSourceSize</key>
                <string>{204,190}</string>
                <key>textureRect</key>
                <string>{{636,572},{178,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_home_header.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,225}</string>
                <key>spriteSourceSize</key>
                <string>{1,225}</string>
                <key>textureRect</key>
                <string>{{822,426},{1,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_icon_boosters.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,82}</string>
                <key>spriteSourceSize</key>
                <string>{87,84}</string>
                <key>textureRect</key>
                <string>{{740,94},{87,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>piggy_icon_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{49,50}</string>
                <key>spriteSourceSize</key>
                <string>{123,122}</string>
                <key>textureRect</key>
                <string>{{1,1008},{49,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>piggy_icon_heart_fertilizer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,82}</string>
                <key>spriteSourceSize</key>
                <string>{85,82}</string>
                <key>textureRect</key>
                <string>{{740,183},{85,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>piggy_icon_jolly_pre_match.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,83}</string>
                <key>spriteSourceSize</key>
                <string>{93,83}</string>
                <key>textureRect</key>
                <string>{{740,1},{91,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>piggy_info_close_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,122}</string>
                <key>spriteSourceSize</key>
                <string>{123,122}</string>
                <key>textureRect</key>
                <string>{{280,1802},{123,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>piggy_info_step_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{308,243}</string>
                <key>spriteSourceSize</key>
                <string>{308,245}</string>
                <key>textureRect</key>
                <string>{{1,763},{308,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_info_step_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,244}</string>
                <key>spriteSourceSize</key>
                <string>{334,252}</string>
                <key>textureRect</key>
                <string>{{1,1059},{330,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>piggy_info_step_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,249}</string>
                <key>spriteSourceSize</key>
                <string>{348,249}</string>
                <key>textureRect</key>
                <string>{{280,1397},{348,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_infos_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,77}</string>
                <key>spriteSourceSize</key>
                <string>{121,79}</string>
                <key>textureRect</key>
                <string>{{404,1802},{119,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>piggy_infos_bg_gradient_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,1423}</string>
                <key>spriteSourceSize</key>
                <string>{2,1423}</string>
                <key>textureRect</key>
                <string>{{632,515},{2,1423}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_infos_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{77,72}</string>
                <key>spriteSourceSize</key>
                <string>{79,86}</string>
                <key>textureRect</key>
                <string>{{247,1050},{77,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>piggy_infos_cockade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{177,195}</string>
                <key>spriteSourceSize</key>
                <string>{179,197}</string>
                <key>textureRect</key>
                <string>{{636,718},{177,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_infos_container_gradient_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,2}</string>
                <key>spriteSourceSize</key>
                <string>{701,2}</string>
                <key>textureRect</key>
                <string>{{1,189},{701,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_infos_container_gradient_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,2}</string>
                <key>spriteSourceSize</key>
                <string>{701,2}</string>
                <key>textureRect</key>
                <string>{{1,193},{701,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_infos_container_gradient_softpink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,2}</string>
                <key>spriteSourceSize</key>
                <string>{701,2}</string>
                <key>textureRect</key>
                <string>{{1,197},{701,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_infos_container_select_gradient.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,2}</string>
                <key>spriteSourceSize</key>
                <string>{701,2}</string>
                <key>textureRect</key>
                <string>{{1,201},{701,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_infos_header_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{2,206}</string>
                <key>spriteSourceSize</key>
                <string>{2,236}</string>
                <key>textureRect</key>
                <string>{{816,572},{2,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_infos_question_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{169,190}</string>
                <key>spriteSourceSize</key>
                <string>{173,194}</string>
                <key>textureRect</key>
                <string>{{459,1059},{169,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_jester_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{174,144}</string>
                <key>spriteSourceSize</key>
                <string>{204,190}</string>
                <key>textureRect</key>
                <string>{{636,1568},{174,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_king_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{182,144}</string>
                <key>spriteSourceSize</key>
                <string>{204,190}</string>
                <key>textureRect</key>
                <string>{{638,426},{182,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_musician_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{174,144}</string>
                <key>spriteSourceSize</key>
                <string>{204,190}</string>
                <key>textureRect</key>
                <string>{{636,1714},{174,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_next_unknown_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{204,188}</string>
                <key>spriteSourceSize</key>
                <string>{204,190}</string>
                <key>textureRect</key>
                <string>{{247,1129},{204,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_panel_cockade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,96}</string>
                <key>spriteSourceSize</key>
                <string>{91,102}</string>
                <key>textureRect</key>
                <string>{{1,1940},{85,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_panel_header_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{737,186}</string>
                <key>spriteSourceSize</key>
                <string>{739,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{737,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_power_up_balloon_center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{635,277}</string>
                <key>spriteSourceSize</key>
                <string>{637,281}</string>
                <key>textureRect</key>
                <string>{{1,205},{635,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_power_up_balloon_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{601,277}</string>
                <key>spriteSourceSize</key>
                <string>{603,281}</string>
                <key>textureRect</key>
                <string>{{1,484},{601,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_power_up_balloon_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{526,277}</string>
                <key>spriteSourceSize</key>
                <string>{528,281}</string>
                <key>textureRect</key>
                <string>{{1,1397},{526,277}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>piggy_powerup_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,143}</string>
                <key>spriteSourceSize</key>
                <string>{143,143}</string>
                <key>textureRect</key>
                <string>{{280,1648},{143,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_progress_base_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,47}</string>
                <key>spriteSourceSize</key>
                <string>{53,49}</string>
                <key>textureRect</key>
                <string>{{53,1008},{51,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_progress_base_full.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,29}</string>
                <key>spriteSourceSize</key>
                <string>{53,49}</string>
                <key>textureRect</key>
                <string>{{680,231},{33,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>piggy_standard_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{156,144}</string>
                <key>spriteSourceSize</key>
                <string>{204,190}</string>
                <key>textureRect</key>
                <string>{{459,1251},{156,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piggy_tycoon_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{174,148}</string>
                <key>spriteSourceSize</key>
                <string>{204,190}</string>
                <key>textureRect</key>
                <string>{{636,1418},{174,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Piggy_Bank.png</string>
            <key>size</key>
            <string>{824,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61665052c32a9018675f79ae57bcf671:671cfe772289536c4b7264fba103b048:7c39f6c33ecb659d5642baf9b5617ff0$</string>
            <key>textureFileName</key>
            <string>Piggy_Bank.png</string>
        </dict>
    </dict>
</plist>
