<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,807},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>mg_ace_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_clubs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_clubs_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_clubs_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_clubs_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_clubs_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,225},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_clubs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,448},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_clubs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,671},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_clubs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,894},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_clubs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_clubs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,225},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_clubs_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,448},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_clubs_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,671},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_clubs_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,894},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_container_icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,671},{133,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,132}}</string>
                <key>sourceSize</key>
                <string>{133,132}</string>
            </dict>
            <key>mg_diamonds_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_diamonds_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,225},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_diamonds_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,448},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_diamonds_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,671},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_diamonds_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,894},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_diamonds_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_diamonds_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,225},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_diamonds_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,448},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_diamonds_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,671},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_diamonds_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,894},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_diamonds_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_diamonds_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,225},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_diamonds_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,448},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_empty_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,671},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_hearts_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,894},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_hearts_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_hearts_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,225},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_hearts_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,448},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_hearts_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,671},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_hearts_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,894},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_hearts_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_hearts_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_hearts_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_hearts_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_hearts_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,2},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_hearts_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,225},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_hearts_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,448},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_reverse_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,671},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_spades_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,894},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_spades_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,225},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_spades_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,225},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_spades_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,225},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_spades_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,225},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_spades_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,448},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_spades_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,671},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_spades_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,894},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_spades_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,448},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_spades_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,448},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_spades_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,448},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_spades_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,671},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_spades_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,894},{150,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,219}}</string>
                <key>sourceSize</key>
                <string>{150,219}</string>
            </dict>
            <key>mg_wood_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,927},{110,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,84}</string>
            </dict>
            <key>mg_wood_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,671},{110,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,241}}</string>
                <key>sourceSize</key>
                <string>{110,241}</string>
            </dict>
            <key>mg_wood_top_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,1015},{110,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,76}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>mg_wood_top_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,916},{110,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,165}}</string>
                <key>sourceSize</key>
                <string>{110,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Solitaire.png</string>
            <key>size</key>
            <string>{1848,1115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a84241a4198de4a15f6603f6cc1da13:eac139d5ac984edc421fe3a9f3155418:723fcad2e5a1ffba674061cd1916a599$</string>
            <key>textureFileName</key>
            <string>Solitaire.png</string>
        </dict>
    </dict>
</plist>
